In [1]:
# Import of the module to read the csv file
import pandas as pd

In [3]:
# Assing of balance.txt file to a data frame
df = pd.read_csv("balance.txt", delim_whitespace=True)

In [27]:
# Display of statistical information that will be used in this task
df.describe()

,Balance,Income,Limit,Rating,Cards,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,13.429175,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000
std,5.669256,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207
min,3.749403,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000
25%,9.891439,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000
50%,11.779615,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000
75%,15.236961,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000
max,38.785123,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000

In [18]:
# Use of the mean() on income with the groyup by function 
avg_income = df.groupby('Ethnicity')['Income'].mean()

print("Average income, based on", avg_income)

Average income, based on Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [20]:
avg_balance = df.groupby('Married')['Balance'].mean()

print("Average balance based on marital status:", avg_balance)

Average balance based on marital status: Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [21]:
# Appointing the max() method to a variable 
max_income = df['Income'].max()

print("The highest income in the data set is", max_income)

186.634

In [23]:
min_income = df['Income'].min()

print("The lowes income in the data set is", min_income)

The lowes income in the data set is 10.354

In [24]:
# Use of sum() on cards column 
cards = df['Cards'].sum()

print("Total number of card is", cards)

Total number of card is 1183

In [25]:
# Selecting specific variable from the column Gender 
women = df[df['Gender'] == 'Female']['Gender'].count()

print("Total number of females in the data set is", women)

Total number of females in the data set is 207

In [26]:
men = df[df['Gender'] == 'Male']['Gender'].count()

print("Total number of men in the data set is", men)

Total number of men in the data set is 193